* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Major Mono Display', monospace;*/
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden; 
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header, footer {
    background-color: #192a56;
    padding-top: 16px;
    color: white;
}

header > .container,
footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: white;
    text-decoration: underline;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 40px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista-veiculos {
    flex-wrap: wrap;
}

.lista-veiculos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-veiculos li img {
    max-width: 100%;
}

.lista-veiculos li h3 {
    margin: 16px 0;
}

.item-central {
    margin: 0 5%;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;    /* */
    cursor: pointer;
    border-radius: 6px;
}

.price {
    margin: 16px 0;
    display: block;
}

.price del {
    color: rgb(122, 122, 122);
    font-size: 14px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}

form {
    max-width: 350px;
}

form button {
    max-width: 120px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}

