@use 'hero';
@use 'components/infos_bar';
@use 'components/buttons';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: white;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}