* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive;

}

body {
    background-color: #a3c9b2;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, textarea, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
    outline-color: #196338;
}

button {
    background-color: #196338;
    border: none;
    text-transform: uppercase;
    color: #00ff55;
    font-weight: lighter;
    font-size: 18px;
    font-style: normal;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

.success-message {
    background-color: #27ae60;
    padding: 16px;
    color: #0a2716;
    display: none;
}

.error-message {
    font-size: 12px;
    padding: 8px;
    background-color: red;
    color: white;
    margin-bottom: 8px;
    display: none;
}

input.error {
    color: red;
    border-color: red;
    outline-color: red;
}