@fontePrincipal: Roboto, sans-serif;
@fonteTitulo: Lobster, cursive;
@corDoTexto: #fff;
@corDeFundo: #eb3b5a;
body {
    background-color: @corDeFundo;
    font-family: @fontePrincipal;
    color: @corDoTexto;
}

h1 {
    font-family: @fonteTitulo;
}