* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #152652;
    color: white;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

div.container {
    padding-bottom: 8px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #2a4ea7;
    color: white;
    padding: 8px 0 0;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    float: left;
}

#imgHead {
    width: 40px;
    border-radius: 40px;
}

input {
    border-radius: 3px;
    padding: 5px;
}

input:hover {
    cursor: text;
}

input:focus {
    outline-color: rgba(0, 206, 221, 0.699);
}

button {
    background-color: rgba(0, 238, 255, 0.699);
    width: 80px;
    height: 30px;
    border-radius: 3px;
    border-color: rgba(0, 68, 73, 0.699);
}
button:hover {
    background-color: rgba(0, 206, 221, 0.699);
    cursor: pointer;
}

nav.container {
    background-color: #192a56;
    border-radius: 10px;
}

#carousel-images {
    height: 350px;
    margin-bottom: 20px;
}

.submenu {
    display: none;
    position: absolute;
    border: 2px solid rgba(0, 238, 255, 0.699);
    border-radius: 10px;
    background-color: #192a56;
    left: 0;
    max-width: 135px;
    width: 300px;
    top: 100%;
}

.submenu a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

.submenu a:hover {
    color: white;
    text-decoration: underline rgba(0, 238, 255, 0.699);
}

.menu > li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.clear {
    clear: both;
}

.menu li:hover .submenu {
    display: block;
}

.menu li:hover {
    border-color: rgb(0, 238, 255);
}

.submenu li {
    display: block;
    padding: 8px;
}

.conteudo {
    display: grid;
    grid-template-columns: 70% 30%;
}

.noticia img {
    max-width: 100%;
}

.destaque img {
    width: 329px;
    border-radius: 5px;
}

.destaque h2 {
    margin: 10px 0;
}

.destaque h3 {
    font-size: 1.1em;
    margin-top: 20px;
}

.destaque h3:hover {
    text-decoration: 2px underline rgb(0, 238, 255);
}

.sob {
    margin-top: 50px;
}

.sobre {
    height: 500px;
}

.destaque p {
    height: 28px;
    width: 350px;
    margin-right: 50px;
    font-size: 0.7em;
    background-color: #FFED00;
    color: blue;
    border-radius: 5px;
    text-align: center;
}

.destaque .sobre p {
    height: 330px;
    width: 350px;
    margin: 0 10px;
    padding: 5px;
    font-size: 0.7em;
    background-color: #3968dd;
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor: default;
}

.destaque .sobre a {
    cursor: default;
}

.destaque a{
    text-decoration: none;
    color: black;
}

.destaque {
    margin-bottom: 56px;
    background-color: #2a4ea7;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.destaque .noticia a {
    display: flex;
    font-size: 2em;
    color: white;
}

.destaque .noticia img {
    margin-right: 8px;
}

section h2 {
    margin-bottom: 32px;
}

aside {
    padding-left: 40px;
}

aside .noticia {
    margin-bottom: 24px;
}

.noticias {
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    column-gap: 1%;
    row-gap: 5%;
}

.noticias a {
    text-decoration: none;
    color: white;
}

.noticia h3 {
    text-align: center;
}

.novidades {
    background-color: #223e86;
    padding: 5px;
    border-radius: 10px;
}

.novidades a {
    text-decoration: none;
    color: white;
}

.novidades a:hover {
    text-decoration: 2px underline rgb(0, 238, 255);
    color: white;
}

.novidades h2 {
    margin: 10px 0;
    text-align: center;
}

.novidades img {
    border-radius: 150px;
}

#maisVendidos {
    background-color: #2a4ea7;
    padding: 5px 5px 100px 5px;
    border-radius: 10px;
}

#maisVendidos a:hover {
    text-decoration: 2px underline rgb(0, 238, 255);
    color: white;
}

#maisVendidos img {
    border-radius: 5px;
}

#maisVendidos h2 {
    margin: 10px 0;
}

#maisVendidos h3:hover {
    text-decoration: 2px underline rgb(0, 238, 255);
}

@Media screen and (max-width:767px) {
    #carousel-images {
        height: 200px;
        margin-bottom: 5px;
    }

    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
    }
    
    .destaque .noticia a {
        display: block;
        font-size: 1.5em;
    }
    
    .destaque .noticia img {
        margin-right: 0;
    }

    .noticias {
        display: block;
        grid-template-columns: repeat(3, 32.6%);
        column-gap: 1%;
        row-gap: 5%;
    }

    nav.container {
        width: 400px;
    }
    .noticias .noticia {
        margin-bottom: 32px;
    }

    aside {
        padding-left: 0px;
    }

    header div.container {
        flex-direction: column;
    }

    .submenu {
        display: block;
        width: 100%;
        position: relative;
        border: none;
    }

    .menu {
        display: none;
    }
    
    .menu > li {
        clear: both;
    }

    .submenu li {
        display: block;
        padding: 8px;
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding-bottom: 16px;
    }

    .botao-menu button {
        padding: 8px;
        height: 50px;
        border-radius: 10px;
        color: white;
        background-color: #2A4EA7;
        font-weight: 800;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .botao-menu {
        display: none;
    }

    .destaque .noticia a {
        font-size: 1.5em;
    }

    .noticias {
        grid-template-columns: repeat(2, 49%);
    }
}

@media screen and (min-width: 1024px) {
    .botao-menu {
        display: none;
    }
}
