/* * chama todos elementos não especificados na tela da tela */
* {
    color:rgb(0, 0, 0);
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(219, 219, 219);
    
}

h1 {
    color: rgb(32, 61, 32);
    padding: 2px 1px 3px 4px;
    border: 1px solid black;
}

h2 {
    color: green;
}

/* # para chamar o ID=""  */
#SecEconomy h2 {
    color: rgb(224, 146, 0);
}

/* . para chamar uma classe class="" */
.creation-date {
    color: rgb(102, 102, 102);
}



