/* * chama todos elementos não especificados na tela da tela */
* {
    color:rgb(0, 0, 0);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li {
    display:inline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 180px;
}

.articles article {
    width: 30%;
}

body {
    background-color: rgb(219, 219, 219);
}

h1 {
    color: rgb(32, 61, 32);
    padding: 2px 1px 3px 4px;
    border: 1px solid black;
}

h2 {
    color: rgb(170, 228, 170);
    background-color: green;

}


#SecEconomy h2 {
    color: rgb(255, 229, 180);
    background-color: rgb(224, 146, 0);
}

#SecPolítica h2 {
    color: rgb(175, 175, 255);
    background-color: blue;
}

#SecTech h2 {
    color: rgb(241, 166, 166);
    background-color: rgb(143, 0, 0);
}


.creation-date {
    color: rgb(102, 102, 102);
}

a {
    color: rgb(133, 0, 0);
}

footer {
    color: rgba(0, 0, 0, 0.315);
    text-align: center;
}
