@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';
@use'available-devices';
@use 'faq';
@use 'footer';
@use 'header';


@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}



body {
    background-color: variaveis.$corDeFundo;
}


@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12.5px);
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 305px;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corDeFundoBotaoPrimario;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corDeFundoBotaoPrimario;

    &:hover {
        background-color: lighten(variaveis.$corDeFundoBotaoPrimario, 3%);
    }

    &--secundary {
        background-color: variaveis.$corDeFundoBotaoSecundario;
        border-color: variaveis.$corDeFundoBotaoSecundario;

        &:hover {
            background-color: lighten(variaveis.$corDeFundoBotaoSecundario, 3%);
        }
    }

    &--dark {
        background-color: rgba(variaveis.$corDeFundoBotaoDark, 0.8);
        border-color: variaveis.$corTextoSecundario;

        &:hover {
            background-color: variaveis.$corTextoSecundario;
            color: variaveis.$corDeFundo;
        }
    }
}

button.button {
    row-gap: 10px;
}    

.img-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    img {
        max-width: 100%;
    }

    &__text_container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }
    }

    &--img-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
        }

        &__text_container {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
